<div id="<%= dom_id teacher %>">
  <%# <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  <%# </p> %>

  <%# <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  <%# </p>  %>

  <%# <p>
    <strong>Phone number:</strong>
    <%= teacher.phone_number %>
  <%# </p>  %>
<%# 
  <p>
    <strong>Date of joining:</strong>
    <%= teacher.Date_of_joining %>
  <%# </p> %>

  <%# <p>
    <strong>Salary:</strong>
    <%= teacher.Salary %>
  <%# </p>  %>

    <table class="table">
    <thead>
      <tr>
        <th scope="col"><strong>Name: </strong></th>
        <th scope="col"><strong>Email: </strong></th>
        <th scope="col"><strong>Phone number: </strong></th>
        <th scope="col"><strong>Date of joining: </strong></th>
        <th scope="col"><strong>Salary: </strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.phone_number %></td>
        <td><%= teacher.phone_number %></td>
        <td><%= teacher.Date_of_joining %></td>
        <td><%= teacher.Salary %></td>
        
        <%# <td>
          <%= link_to 'Show', student_path(student) %>
          <%# <%= link_to 'Edit', edit_student_path(student) %> 
          
        <%# </td> %>
      </tr>
    </tbody>
</table> 
</div>

</div>
